*{
    padding: 0;
    margin: 0;

}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

body{
    width: 1440px;
    background-color: lightskyblue;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 5vw;
}

main{
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faceDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
    margin-bottom: 10vw;
}

.citySearch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.select_a_city{
    font-size: 1.3vw;
}

#city{
    width: 10vw;
    height: 1.3vw;
}

.search{
    font-size: 1vw;
    width: 5vw;
    height: 1.5vw;
    border-radius: 0.3vw;
}

.showTheWeather{
    width: 50vw;
    height: 20vw;
    background-color: green;
    border-radius: 1vw;

}

